$during: 7s;
.load {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #b0b0b0;
    z-index: 3;
    opacity: 1;
    transition: 0.5s linear opacity;
    left: 0;
    top: 0;
}

.load-clear {
    opacity: 0;
}

.cube-fix {
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 10vh;
    position: absolute;
}

@keyframes cube-rotate-big {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes cube-rotate-small {
    from {
        transform: rotateY(360deg);
    }
    to {
        transform: rotateY(0);
    }
}

@keyframes cube-rotate-medium {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

@keyframes cube-rotate-last {
    from {
        transform: rotateX(360deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

.cube {
    width: 30vh;
    height: 30vh;
    transform-style: preserve-3d;
    div {
        width: 30vh;
        height: 30vh;
        background-color: transparent;
        box-shadow: inset 0 0px 20px 0px white;
        position: absolute;
    }
    animation: cube-rotate-big $during infinite linear;
}

.cube-small {
    animation: cube-rotate-small $during infinite linear;
}

.cube-medium {
    animation: cube-rotate-medium $during infinite linear;
}

.cube-last {
    animation: cube-rotate-last $during infinite linear;
}

.front {
    transform: translateZ(20vh);
}

.back {
    transform: translateZ(-10vh);
}

.up {
    transform: rotateX(90deg) translateY(-10.25vh);
    transform-origin: top center;
}

.down {
    transform: rotateX(90deg) translateY(20vh);
    transform-origin: bottom center;
}

.left {
    transform-origin: left center;
    transform: rotateY(90deg) translateX(-20vh);
}

.right {
    transform-origin: right center;
    transform: rotateY(-90deg) translateX(20vh);
}