$font-style: 'Courier New',
Courier,
monospace;
.message-show {
    height: auto;
}

.message-box {
    height: auto;
    max-width: 1077.45px;
    margin-top: 40px;
}

.message-info {
    visibility: hidden;
}

.name {
    position: absolute;
    margin-left: 118px;
    margin-top: 40px;
    font-weight: bold;
    color: #919191;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

.comment {
    margin-bottom: 10px;
    height: auto;
    width: 90%;
    margin: 10px 0;
}

.comment-content {
    font-family: 'Open Sans';
    font-size: medium;
    color: #a7a7a7;
    margin-left: 118px;
    width: 75%;
    white-space: pre-wrap;
}

.end {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.time {
    color: #abb4b4;
    margin-bottom: 10px;
    margin-left: 75%;
    font-size: medium;
    min-width: 136px;
    font-weight: medium;
}

.reply {
    margin-left: 10px;
    margin-top: -7px;
    width: 45px;
    min-width: 40px;
}

p {
    word-break: break-all;
}