@media screen and (max-width:700px) {
    .author {
        .author-info {
            margin-left: 20px !important;
            .author-email {
                margin-left: 20px !important;
            }
        }
        .author-avater {
            height: 50%;
            width: 40px;
            min-width: 40px;
            margin-top: 23px;
        }
    }
    .author-content {
        margin-left: 0;
    }
    .publish {
        margin: 0 -20px;
    }
    .time {
        margin-left: 64% !important;
        font-size: small !important;
    }
    .name {
        margin-left: 60px !important;
        font-size: medium !important;
    }
    .comment-content {
        margin-left: 59px !important;
        font-size: smaller !important;
    }
    .reply {
        width: 40px !important;
        margin-left: -5px !important;
    }
    .reply-title {
        font-size: large !important;
    }
    .comment-content-box {
        margin: 15px !important
    }
    .reply-panel {
        padding-bottom: 5px !important;
        width: 80vw !important;
    }
    .message-box {
        margin-top: 10px !important;
    }
    .reply-send {
        margin-left: 75vw !important;
        margin-top: 20px !important;
    }
}

@media screen and (max-width:600px) {
    .publish-button {
        margin-left: 90%;
        width: 45px;
        margin-top: -10px;
    }
    input {
        font-size: large;
    }
    .publish-box {
        margin: 0 20px;
    }
    .end {
        margin: 10px 0 !important;
    }
    .reply-panel {
        width: 80px;
    }
    .time {
        margin-left: 60% !important;
    }
}

@media screen and (max-width:1000px) and (min-width:800px) {
    .time {
        margin-left: 68% !important;
    }
}

@media screen and (max-width:800px) and (min-width:700px) {
    .time {
        margin-left: 64% !important;
    }
}